name: Laravel CI

on:
  push:
    branches:
      - main

jobs:
  local-action:
    runs-on: ubuntu-latest

    steps:
      - name: Setup
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 3.80.212.92 >> ~/.ssh/known_hosts

      - name: ls SSH
        run: ssh ubuntu@3.80.212.92 "ls ~/.ssh -al"

      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v1.2.0
        if: success()
        with:
          host: 3.80.212.92
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: | 
            whoami
            cd /home/ubuntu
            git pull origin main
