name: Laravel CI

on:
  push:
    branches:
      - main

jobs:
  laravel-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root   # Contraseña para el usuario root de MySQL
          MYSQL_DATABASE: db_laravel  # Nombre de la base de datos a crear
          DB_DATABASE: db_laravel     # Para que Laravel lo use
          DB_USERNAME: root           # Usuario para conectar a la base de datos
          DB_PASSWORD: root           # Contraseña para conectar a la base de datos

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.1.0

      - name: Set Up PHP
        uses: shivammathur/setup-php@2.31.1
        with:
          php-version: '8.3'
          extensions: mbstring, bcmath, pdo, pdo-mysql
      
      - name: Install packages
        run: composer install --no-interaction --prefer-dist

      - name: Set App
        run: cp .env.example .env
        env:
            DB_CONNECTION: mysql
            DB_HOST: 127.0.0.1
            DB_PORT: 3306
            DB_DATABASE: db_laravel
            DB_USERNAME: root
            DB_PASSWORD: root

      - name: Set Key
        run: php artisan key:generate

      - name: Run test
        id: test
        run: vendor/bin/phpunit

      - name: Deploy
        if: ${{ steps.test.outcome == 'success' }}
        run: ls